body {
    background: rgb(240, 240, 208);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
header {
    background: rgb(13, 124, 214);
    padding: 15px;
    color: #FFFFFF;
    text-align: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    background:  rgb(3, 48, 85);
    padding: 15px;
}
.menu {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu:hover{
    background:  rgb(13, 124, 214);
}

footer {
    background: rgb(13, 124, 214);
    padding: 15px;
    color: #FFFFFF;
    text-align: center;
}

section {
    padding: 40px;
}
.text-color {
    color: blue;
}

#wrapper{
    background: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(5, [row] 1fr);
    row-gap: 5px;
}
.grid-item{
    background-color: grey;
    padding: 10px;
    text-transform: uppercase;
}
.grid-item-1{
    grid-column: col 1/ span 4;
    grid-row: row;
}
.grid-item-2{
    grid-column: col 5 / span 4;
    grid-row: row ;
}
.grid-item-3{
    grid-column: col 9 / span 4;
    grid-row: row;
}

.grid-item-4{
    grid-column: col  / span 8;
    grid-row: row 2;
}
.grid-item-5{
    grid-column: col 9 / span 4;
    grid-row: row 2;
}
.grid-item-6{
    grid-column: col 1 / span 3;
    grid-row: row 3;
}
.grid-item-7{
    grid-column: col 4 / span 3;
    grid-row: row 3;
}
.grid-item-8{
    grid-column: col 7 / span 3;
    grid-row: row 3;
}
.grid-item-9{
    grid-column: col 10 / span 3;
    grid-row: row 3;
}
.grid-item-10{
    grid-column: col / span 6;
    grid-row: row 4;
}
.grid-item-11{
    grid-column: col 7 / span 6;
    grid-row: row 4;
}
.grid-item-12{
    grid-column: col / span 12;
    grid-row: row 5;
}

.cols-3{
    grid-column: span 3;
}
.cols-4{
    grid-column: span 4;
}
.cols-6{
    grid-column: span 6;
}
.cols-8{
    grid-column: span 8;
}
.cols-12{
    grid-column: span 12;
}
.text-font{
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(13, 117, 56);
    letter-spacing: 6px;
    text-shadow: 4px 8px #C0C0C0;
} 
p {
    line-height: 26px;
    text-align: justify;
    word-spacing: 5px;
    text-transform: uppercase;
    text-indent: 50px;
}